@{
    ViewData["Title"] = "Nuestras politicas";
}
<h1>@ViewData["Title"]</h1>

<p>Esime Trade busca ser una aplicacion para el comercio de comida proporcionada por los mismos alumnos de la institucion.</p>
<p>Tolas las cuentas y los productos que sean registrados en la plataforma seran revisados atentamente para evitar el mal uso de la plataforma.</p>

